body, html {
  height: 100%;
  margin: 0;
  font: 400 20px/1.8 "Lato", sans-serif;
  color: rgb(0, 0, 0);
  background-color: rgb(151, 151, 190);

}

label {color: rgb(211, 190, 190);
font-size: 30px;}

input[type=radio] {
  height: 25px;
  width: 25px;
  cursor: pointer;
}
  
.caption {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  font-size: 24px;
  text-align: center;
  color: rgb(95, 48, 48);
}

.caption span.border {
  color: rgb(156, 26, 26);
  padding: 8px;
  font-size: 24px;
  letter-spacing: 8px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: rgb(0, 0, 0);
}

a {
  color: rgb(0, 0, 0);
  text-shadow: rgb(119, 117, 117) 20px 10px 10px ;
  font-size: 60px;
  text-decoration: none;
  font-weight: bolder;
  transition: all 0.5s;
}

a:hover {
  text-shadow: rgb(138, 134, 134) 22px 10px 12px ;
  font-weight: bolder;
  transition: all 0.5s;
}

.button {color:black;
  border: black solid 1px;
  font-size: 15px;
  border-radius: 16%;
  height: 50px;
  width: 80px;
  cursor: pointer;
  transition: all 0.2s;
  
}

.button:hover {background-color: rgb(214, 212, 204);
  color:rgba(0, 0, 0, 0.952);
  box-shadow: inset black 1px 2px 3px;
  cursor: pointer;
  transition: all 0.2s;
}

