* {
    margin: 0;
    padding: 0;
    font-size: 40px;
    color: blanchedalmond;
    
}


body {
   text-align: center;
    background-image: url("/src/IMG/fondo.png"); 
   background-color: rgb(19, 82, 82);
   margin-bottom: 200px;
}
.nav {
    position: fixed;
    border-bottom: black solid 3px;
    box-shadow: black 1px 2px 50px;
    width: 100%;
    height: 100px;
    background-color: #040138;
    top: 0;
    left: 0;
    right: 0;
    /* color: #d1d1d1; */
    /* text-align: center; */
    
    /* top: 0px; */
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    /* margin-bottom: 50px; */
  
}


h1 {
  font-size: 1.2rem;
}


.infoFoto {
   position: absolute;
   right: 350px;
   top: 100px;
   height: 80%;
    
}

.en {
  position: absolute;
  left: 300px;
  top: 200px;
  height: 30%;
   
}

.ppb{
  height: 100%;
}




/* BOTON NUMERO 0 */

.btn {background-color: rgb(7, 108, 134);
    margin-top: 3%;
    height: 100px;
    width: 400px;
    border: solid black 2px;
    border-radius: 5%;
    box-shadow: rgb(206, 186, 186) 3px 3px 40px;
    cursor: pointer;
    transition: ease-out 0.3s;
    color: rgb(0, 0, 0);
    animation-name: btna;
    animation-duration: 3s;
  }
  @keyframes btna { from{ color: rosybrown;}
  to {color:black}
    
  }
 

  .btn:hover{background-color: rgb(29, 165, 199);
    transition: all 0.2s;
    box-shadow: rgb(206, 186, 186) 3px 3px 70px;
    text-shadow: black 1px 1px 10px;
  }
  .submit {
    
    color: black;
    border-radius: 5%;
    border: solid 2px black;
    cursor: pointer;
    /* transition: background-color 1s; */
    transition: all 0.3s;
    
  
  }

  .submit:hover {
    background-color: rgb(224, 208, 187);
    box-shadow: black 2px 2px 10px;
    
  }



  .footer {
    border-top: black solid 3px;
    box-shadow: black 1px -2px 50px;
    width: 100%;
    height: 100px;
    background-color: #040138;
    color: #d1d1d1;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btnf{
    height: 32px;
    width: 100px;
  }